* {
  font-family: Calibri, sans-serif;
}

h1, h2, ol, ul, div {
  margin-left: 1%;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

ol li {
  font-style= oblique 18deg;
}

td, th {
  border: 1px solid grey;
  padding: 5px;
  padding-right: 10px;
}

th {
  background-color: #00BFFF;
}

#new1 {
  font-style: italic;
  font-weight: bold;
}

.StandardText {
  font-size: 17px;
}

.backlink {
  text-align: center;
  color: grey;
  font-weight: bold;
  margin-top: -15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#img1 {
  display: none;
}

li.link:hover + #img1 {
  display: block;
}
