$std_color: blue; /* This is defining a variable */
$highlight: #660000; /* dark red */

%standardstyle {
  font-family: Calibri, sans-serif;
  color: #003300; /* dark green */
}

h1, h2 {
  @extend %standardstyle;
  color: 	$std_color; /* This overwrites the standardstyle because it is more specific */
}

.text {
  @extend %standardstyle;
  font-style: italic;
}

.highlight {
  color: $highlight;
}

@media (max-width: 500px) {
  .center {
    display: none;
  }
}

@media (min-width: 501px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

tr {
  th {
    background-color: $highlight;
  }
  td {
    background-color: $std_color;
  }
}
